*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height:  1.6;
    background-color: #27264b;
}

a{
    text-decoration: none;
    color: #007bff;
}

ul{
    list-style-type: none;
}
li{
    margin-bottom: 10px;
}

.container{
    background-color: rgb(238, 238, 238);
    margin: 62px auto;
    max-width: 1100px;
    border-radius: 8px;
    padding: 40px;
}

.pricing{
    display: flex;
    justify-content: space-around;
    gap: 22px; 
    margin: 18px;

}

.card{
    flex: 1;
    background-color: #fff;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

.card h2{
    background-color: rgb(236, 245, 245);
    font-size: 25px;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.card-pro h2{
    background: linear-gradient(90deg
    , rgba(194, 227, 255, 1) 13%, rgba(180, 118, 254, 1) 100%) ;
    color: #fff;
}
.card-enterprise h2{
    background: linear-gradient(90deg
    , rgba(255, 177, 194, 1) 13%, rgba(255, 203, 114, 1) 100%) ;
    color: #fff;
}

.card ul{
    text-align: left;
    margin-top: 20px;
}

.card ul li i{
    color: rgb(95, 159, 0);
    margin-right: 10px;
}

.card .p1{
    font-size: 50px;
    margin-bottom: 25px;

}
.card .p1 sup{
    font-size: 25px;
    /* margin-right: 10px; */
    position: relative;
    left: -6px;
}

.card .p1 span{
    font-size: 18px;
  
}

.card .p2{
    text-transform: uppercase;
    margin: 15px 0;
    font-weight: 900;
    letter-spacing: 1px;
    word-spacing: 4px;
    font-size: 16px;

}

.card .p3{
    font-size: 15px;
    font-weight: 500;
    margin: 15px 0;
    
}

.btn{
    display: block;
    border: 1px solid black;
    width: 100%;
    border-radius: 6px;
    padding: 12px;
    margin-top: 25px;

}

.btn:hover{
    background-color: #27264b ;
    color: #fff;  
}

.card-pro .btn{
    background-color: #27264b;
}
.card-pro .btn:hover{
    background-color: #fff;
    color: #007bff;
}



